{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 sidebar pt-5 border-end border-dark vh-100"></div>
            <div class="col-9 pt-5 offset-3">
                <h3 class="border-top border-bottom py-2">Cart</h3>
                {% if cart_items %}
                    <ul class="list-group mt-5">
                        {% for item in cart_items %}
                            <div class="list-group-item py-3">
                                <div class="row pb-3">
                                    <div class="col-10">
                                        <span>Product Info</span>
                                    </div>
                                    <div class="col text-center me-3">Price</div>
                                    <div class="col text-center me-3">Quantity</div>
                                    <div class="col"></div>
                                </div>
                                <div class="row">
                                    <div class="col-10">
                                        <img class="me-4" src="{{item.product.image_url}}" alt="{{product.display_name}}" height="50" width="50">
                                        <a href="{% url 'get_product' item.product.pk %}" class="me-5 flex-fill text-decoration-none">{{ item.product.display_name }}</a>
                                    </div>
                                    <div class="col text-center">
                                        €{{ item.product.price }}
                                    </div>
                                    <div class="col text-center">
                                        <select name="{{ item.pk }}_quantity" id="{{ item.pk }}_quantity">
                                            {% for size, value in item.product.quantity.items %}
                                                <option value="{{ value }}" {% if value == item.quantity %}selected{% endif %} >{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col text-center">
                                        <form method="POST" action="{% url 'remove_from_cart' item.product.pk %}">
                                            {% csrf_token %}
                                            <input name="redirect_url" value="{{request.path}}" type="text" hidden>
                                            <button type="submit" class="btn p-0">
                                                <i class="bi bi-trash2-fill"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                    <a id="checkout-btn" href="{% url 'checkout' %}" class="btn btn-success mt-5 p-3 me-5 float-end">
                        <i class="bi bi-lock-fill"></i> Secure Checkout
                    </a>
                {% else %}
                    <h5 class="text-muted">Your cart is empty.</h5>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}