{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 sidebar pt-5 border-end border-dark vh-100"></div>
            <div class="col-9 pt-5 offset-3">
                <h3 class="border-top border-bottom py-2">Cart</h3>
                {% if cart_items %}
                    <table id="cart-table" class="table table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Name</th>
                                <th scope="col"></th>
                                <th scope="col">Size</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in cart_items %}
                            <tr>
                                <td class="text-center">
                                    <img class="img-fluid rounded" height="100" width="100" src="{{ item.product.image_url }}">
                                </td>
                                <td>
                                    <a class="my-auto" href="{% url 'get_product' item.product.id %}">{{ item.product.display_name }}</a>
                                </td>
                                <td>
                                    <form action="{% url 'remove_from_cart' item.product.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-danger"><strong>Remove</strong></button>
                                        <input type="text" name="redirect_url" value="{{request.path}}" hidden>
                                    </form>
                                </td>
                                <td>
                                    <form action="{% url 'edit_cart_item' item.product.id %}" method="POST">
                                        {% csrf_token %}
                                        <select class="form-select update-cart" name="size">
                                            {% for size, quantity in item.product.quantity.items %}
                                                {% if quantity > 0 %}
                                                    <option value="{{size}}" {% if item.size == size %}selected{% endif %}>{{size|upper}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <input type="text" value="{{item.size}}" name="prev_size" hidden>
                                    </form>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">€{{ item.product.price }}</p>
                                </td>
                                <td class="py-3">
                                        {% for size, quantity in item.product.quantity.items %}
                                            {% if size == item.size %}
                                            <form action="{% url 'edit_cart_item' item.product.id %}" method="POST">
                                                {% csrf_token %}
                                                <select class="form-select update-cart" name="quantity">
                                                    {% for x in "x"|ljust:quantity %}
                                                        <option value="{{forloop.counter}}" {% if forloop.counter == item.quantity %}selected{% endif %}>{{forloop.counter}}</option>
                                                    {% endfor %}
                                                </select>
                                                <input type="text" value="{{item.size}}" name="size" hidden>
                                            </form>
                                            {% endif %}
                                        {% endfor %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0">€{{ item.item_total|floatformat:2 }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="6" class="pt-5 text-end">
                                <h5>Total: <strong>€{{ cart_total|floatformat:2 }}</strong></h5>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" class="text-end">
                                <a href="{% url 'products' %}" class="btn btn-secondary btn-lg">
                                    <i class="bi bi-arrow-90deg-left"></i> Back To Shopping
                                </a>
                                <a href="{% url 'checkout' %}" class="btn btn-primary btn-lg">
                                    <i class="bi bi-shield-lock-fill"></i> Secure Checkout
                                </a>
                            </td>
                        </tr>
                    </table>
                {% else %}
                    <h5 class="text-muted">Your cart is empty.</h5>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postload_js %}
    {{ block.super }}
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}