{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
    <div id="homepage-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#homepage-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Browse Retro NBA Jerseys"></button>
            <button type="button" data-bs-target="#homepage-carousel" data-bs-slide-to="1" aria-label="Browse NFL Throwbacks"></button>
            <button type="button" data-bs-target="#homepage-carousel" data-bs-slide-to="2" aria-label="Browse Retro EPL Jerseys"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" alt="NBA jersey"
                style="background-image: url('{% get_media_prefix %}cover1.jpeg');">
                <a href="/collections/nba">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Our Retro NBA Collection</h5>
                        <p>Shop now to save 35% in our Autumn sale.</p>
                    </div>
                </a>
            </div>
            <div class="carousel-item" alt="NFL jersey"
                style="background-image: url('{% get_media_prefix %}cover2.jpeg');">
                <a href="/collections/nfl">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Our Retro NFL Collection</h5>
                        <p>We have the largest collection of NFL jerseys outside of the USA, go take a look!.</p>
                    </div>
                </a>
            </div>
            <div class="carousel-item" alt="Football jersey"
                style="background-image: url('{% get_media_prefix %}cover3.jpeg');">
                <a href="/collections/football">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Our Retro Football Collection</h5>
                        <p>Browse our collection of some of the finest retro club and international kits.</p>
                    </div>
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#homepage-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#homepage-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endblock %}