@import url('https://fonts.googleapis.com/css2?family=Georama&display=swap');

body {
    font-family: 'Georama', sans-serif;
}

.page-content {
    margin-top: 106px;
}

.sidebar {
    position: fixed;
    top: 106px;
}

.toast-container {
    right: 15px;
}

i.cart-logo {
    font-size: 1.5rem;
}

.errorlist {
    list-style: none;
} 

.errorlist li {
    color: red;
    font-weight: bold;
}