#homepage-carousel {
    height: 50vh;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
    overflow: hidden;
    background-position: top;
    background-clip: content-box;
    background-size: cover;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.4);
}