{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/products.js'%}"></script>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 sidebar pt-5">
                <select id="filter-select" class="form-select mb-5" aria-label="Default select example">
                    <option value="reset" selected>Choose filter property...</option>
                    {% for key, type in filters %}
                        <option id="filter-option-{{key}}" name={{type}} value="filter-{{key}}">{{key|capfirst}}</option>
                    {% endfor %}
                </select>
                <div class="filter-menu">
                        {% for range in field_ranges %}
                        <div class="filter-{{range.field}} row gap-4 filter border-bottom border-dark pb-5" style="display: none;">
                            <h5 class="col-12 border-bottom border-dark pb-3">Filter by {{range.field}}</h5>
                            <div class="col">
                                <label for="max">Min</label>
                                <div class="input-group">
                                    {% if range.field == 'price' %}
                                    <span class="input-group-text">€</span>
                                    {% endif %}
                                    <input class="form-control" min="{{range.min_val}}" max="{{range.max_val}}" type="number" name="min_{{range.field}}">
                                </div>
                            </div>
                            <div class="col">
                                <label for="max">Max</label>
                                <div class="input-group">
                                    <span class="input-group-text">€</span>
                                    <input class="form-control" min="{{range.min_val}}" max="{{range.max_val}}" type="number" name="min_{{range.field}}">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% for option in field_ranges %}
                        <div class="filter-{{range.field}} row gap-3" style="display: none;">
                            <div class="col">
                                <label for="max">Min</label>
                                <div class="input-group">
                                    <span class="input-group-text">€</span>
                                    <input class="form-control" min="{{range.min_val}}" max="{{range.max_val}}" type="number" name="min_{{range.field}}">
                                </div>
                            </div>
                            <div class="col">
                                <label for="max">Max</label>
                                <div class="input-group">
                                    <span class="input-group-text">€</span>
                                    <input class="form-control" min="{{range.min_val}}" max="{{range.max_val}}" type="number" name="min_{{range.field}}">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row mt-5" style="display: none;">
                        <div class="col-10 d-grid mx-auto">
                            <button id="add-filter" class="btn btn-primary">Apply Filter</button>
                        </div>
                    </div>
                    {% if active_filters|length > 0 %}
                        <h5 class="mt-5">Active Filters</h5>
                        <div class="list-group">
                            {% for field, type, val in active_filters %}
                                <div class="list-group-item">
                                    <span class="fw-bold">{{ field|capfirst }}:</span> <span class="fw-light">{{val|first}} to {{val|last}}</span>
                                    <button type="button" class="remove-filter btn-close float-end ms-3" data-filter="{{field}}__{{type}}" aria-label="Close"></button>
                                    <button type="button" class="edit-filter btn float-end p-0 text-muted" aria-label="Edit" data-field="{{field}}" data-type="{{type}}" data-value="{{val|join:','}}">
                                        <i class="bi bi-pencil-fill"></i>
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-9 pt-5 offset-3">
                <div class="row">
                    {% for product in products %}
                        <div class="col-lg-3 col-6 mb-5">
                            <div class="card h-100 border-0">
                                <div class="product-img" style="background-image: url('{{ product.image_url }}');">
                                    <img class="card-img-top" src="{{ product.image_url }}" alt="{{ product.display_name }}">
                                </div>
                                <div class="card-body">
                                    <a class="stretched-link" href="{% url 'get_product' product.pk %}">
                                        <p class="mb-0">{{ product.display_name }}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}