{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block container_classes %}p-5{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="card card-sm">
                    <img src="{{MEDIA_URL}}{{product.image_url}}" alt="{{product.display_name}}">
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column h-100 justify-content-between">
                    <div class="title">
                        <h3 class="fw-bold">{{product.display_name}}</h3>
                        <div class="caption text-end">
                            <h5 class="text-black-50 float-start d-inline-block"><strong>Year:</strong> {{ product.year }}</h5>
                            <h5 class="text-black-50 text-end d-inline">€{{ product.price }}</h5>
                        </div>
                    </div>
                    <div class="align-self-center">
                        <input type="radio" class="btn-check" name="product-size" id="sze-small" autocomplete="off" {% if product.quantity.s <= 0 %}disabled{% endif %}>
                        <label class="btn btn-outline-info px-5 py-3 text-dark {% if product.quantity.s <= 0 %}bg-secondary opacity-25{% endif %}" for="sze-small">Small</label>
    
                        <input type="radio" class="btn-check" name="product-size" id="sze-medium" autocomplete="off" {% if product.quantity.m <= 0 %}disabled{% endif %}>
                        <label class="btn btn-outline-info px-5 py-3 text-dark {% if product.quantity.m <= 0 %}bg-secondary opacity-25{% endif %}" for="sze-medium">Medium</label>
                        
                        <input type="radio" class="btn-check" name="product-size" id="sze-large" autocomplete="off" {% if product.quantity.l <= 0 %}disabled{% endif %}>
                        <label class="btn btn-outline-info px-5 py-3 text-dark {% if product.quantity.l <= 0 %}bg-secondary opacity-25{% endif %}" for="sze-large">Large</label>
                    </div>
                    <div class="d-flex">
                        <button class="ms-auto btn btn-primary p-3 align-self-end">
                            Add To Cart <i class="bi bi-basket3"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}